<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стереонефтия - Акважизнь</title>
</head>
<body>
<h1>Стереонефтия</h1>


<p>
<p>Сложный в содержании коралл, обычный его срок жизни в аквариуме — несколько месяцев.</p>
<p>Нуждается в достаточно сильном освещении.</p>
<p>Содержать лучше в аквариуме от 100 литров объёмом с средней силы течением.</p>
<p>Не рекомендуется содержать с некоторыми беспозвоночными,например раками-отшельниками, они могут повреждать кораллы.</p>
</p>
<p>Фотосинтезирует коралл слабо, и его сложно обеспечить питательными веществами, из-за чего он обычно и погибает.</p>
<p>Рекомендуется использовать живой фитопланктон.</p>
<p>
<p><strong>Температура</strong><p>24–27 градусов Цельсия.</p>
</p>
<p><strong>Кислотность</strong><p>8,1–8,4.</p>
</p>
<p><strong>Cолёность воды</strong><p>1.023–1.025.</p>
</p>
</p>



<a href="{{ url_for('index') }}">Назад</a>
</body>
</html>