<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анубиас - Акважизнь</title>
</head>
<body>
<h1>Анубиас</h1>

<p>Освещение. Неяркое рассеянное освещение, продолжительность светового дня 11–12 часов. Яркое освещение
противопоказано, так как может спровоцировать пожелтение и гниение листьев. 
Температура воды. Оптимальная температура воды — около +24 °С. Повышение температуры до +28–+30 °С некритично, а
вот понижения ниже +22 °С нежелательны и могут привести к остановке роста и медленной гибели растения. 
Грунт. Для анубиасов нужен толстый слой грунта — не менее 10 см. Лучшим субстратом является мелкая галька или крупный
песок. Грунт должен содержать достаточное количество питательных веществ, так как корни у некоторых видов анубиаса
глубоко проникают в грунт. 
Вода. Воду в аквариуме с анубиасами необходимо регулярно (еженедельно) подменивать примерно на 25% объёма и
обязательно пропускать через фильтр.

<a href="{{ url_for('index') }}">Назад</a>
</body>
</html>