<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мох бабл - Акважизнь</title>
</head>
<body>
<h1>Мох бабл</h1>

<p>Принадлежит к семейству Печёночные мхи (Marchantiophyta)

Место обитания: Южная Америка

Размер: может достигать до 6 см в хороших условиях содержания.

Оптимальные параметры воды для содержания растений
Температура 18 - 27°С
Кислотность 5.0 - 7.0 pH
Жесткость 4 - 10 GH
Яркое и интенсивное освещение (от 0,4 до 0,6 Вт/л), которое должно длиться примерно 10 часов в сутки.</p>


<a href="{{ url_for('index') }}">Назад</a>
</body>
</html>