<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анубиас - Акважизнь</title>
</head>
<body>
<h1>Анубиас</h1>

<p>
<p><strong>Освещение.</strong><p>Неяркое рассеянное освещение, продолжительность светового дня 11–12 часов.</p>
<p>Яркое освещение противопоказано, так как может спровоцировать пожелтение и гниение листьев.</p>
</p>
<p><strong>Температура воды.</strong><p>Оптимальная температура воды — около +24 °С.</p>
<p>Повышение температуры до +28–+30 °С некритично, а
вот понижения ниже +22 °С нежелательны и могут привести к остановке роста и медленной гибели растения.</p>
</p>
<p><strong>Грунт.</strong><p>Для анубиасов нужен толстый слой грунта — не менее 10 см.</p>
<p>Лучшим субстратом является мелкая галька или крупный песок.</p>
<p> Грунт должен содержать достаточное количество питательных веществ, так как корни у некоторых видов анубиаса глубоко проникают в грунт.</p>
</p>
<p><strong>Вода.</strong><p>Воду в аквариуме с анубиасами необходимо регулярно (еженедельно) подменивать примерно на 25% объёма и
обязательно пропускать через фильтр.</p>

</p>
</p>
<a href="{{ url_for('index') }}">Назад</a>
</body>
</html>