<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стереонефтия - Акважизнь</title>
</head>
<body>
<h1>Стереонефтия</h1>

<p>Сложный в содержании коралл, обычный его срок жизни в аквариуме — несколько месяцев. Нуждается в достаточно
сильном освещении.
Содержать лучше в аквариуме от 100 литров объёмом с средней силы течением. Не рекомендуется содержать
 с некоторыми беспозвоночными,например раками-отшельниками, они могут повреждать кораллы.Температура
 24–27 градусов Цельсия, солёность воды 1.023–1.025, pH 8,1–8,4. Фотосинтезирует коралл слабо, и его сложно обеспечить питательными веществами, из-за чего он обычно и погибает.
Рекомендуется использовать живой фитопланктон.</p>


<a href="{{ url_for('index') }}">Назад</a>
</body>
</html>