<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Плакучий мох - Акважизнь</title>
</head>
<body>
<h1>Плакучий мох</h1>

<p>
<p>Плакучий мох первоначально начал использоваться азиатскими аквариумистами.</p>
<p>Своё название мох получил за то, что по мере роста его побеги начинают свешиваться, прямо как ветви плакучей ивы.</p>
<p>Место обитания</p>
<p>Восточные регионы Китая и Япония.</p>
<p>Размеры: вырастает до 3 сантиметров в высоту, ширина кустика 5 см, обладает ярко-зелёными свисающими побегами.</p>
<p>Оптимальные параметры воды для содержания мха:</p>
<p>
<p><strong>Температура:</strong><p>20 - 27°С</p>
</p>
<p><strong>Кислотность:</strong><p>5.5 - 7.8 pH</p>
</p>
<p><strong>Жесткость:</strong><p>3 - 20 GH</p>
</p>
<p><strong>Освещение:</strong><p>Должно быть интенсивностью около 0,4-0,7 Вт/л. Продолжительность светового дня 9-10 часов в сутки.</p>
</p>
</p>
</p>


<a href="{{ url_for('index') }}">Назад</a>
</body>
</html>