<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мох бабл - Акважизнь</title>
</head>
<body>
<h1>Мох бабл</h1>

<p>
<p>Принадлежит к семейству Печёночные мхи (Marchantiophyta).</p>

<p>Место обитания: Южная Америка.</p>

<p>Размер: может достигать до 6 см в хороших условиях содержания. </p>

<p>Оптимальные параметры воды для содержания растений: </p>




<p>
<p><strong>Температура:</strong><p> 18 - 27°С</p>
</p>
<p><strong>Кислотность:</strong><p> 5.0 - 7.0 pH</p>
</p>
<p><strong>Жесткость:</strong><p> 4 - 10 GH</p>
</p>
<p><strong>Освещение:</strong><p>Яркое и интенсивное  (от 0,4 до 0,6 Вт/л), которое должно длиться примерно 10 часов в сутки.</p>
</p>
<p><strong></strong><p></p>
</p>
</p>


</p>


<a href="{{ url_for('index') }}">Назад</a>
</body>
</html>